/* <!-- CSS definitions for app styles in here --> */

.task-card {
    margin: 2px;
}

.priority-high {
    background-color: #ff9999;
}

.priority-med {
    background-color: #ffdd99;
}

.priority-low {
    background-color: #99ff99;
}

.task-title {
    font-size: x-large;
    /*font-weight: bold;*/
    background-color: rgba(0,0,0,0);
    display: inline;
}

.task-textbox {
    border-color: rgba(0,0,0,0);
    width: 90%
}

.nav-link {
    font-size:16pt;
    padding:16px;
}