/* <!-- CSS definitions for app styles in here --> */

/*////////////////////*/
/* PAGE STYLES */
/*////////////////////*/

.page-container {
    height: 100%; 
    margin-top: 0px;
    top: -64px; 
    padding-top: 64px; 
    padding-right: 0px; 
    padding-left:0px; 
    position: relative;
}

/*////////////////////*/
/* NAV STYLES */
/*////////////////////*/

.nav {
    width:100%; 
    z-index: 100; 
    box-shadow: 2px 0px 2px grey;
}

.nav-link {
    font-size: 16pt;
    padding: 16px;
}

/*////////////////////*/
/* TASK STYLES */
/*////////////////////*/
.task-title {
    margin-bottom: 0px;
}

.task-due {
    font-size: 10pt; 
    display:inline-block; 
    margin-right:16px;
}

.task-category {
    font-size: 10pt; 
    display:inline-block; 
    margin-right:16px;
}

.task-checkbox {
    display: inline-block;
    color: white;
}

.task-checkbox:hover {
    color: #343A40;
    cursor: pointer;
}

.task-card {
    margin: 2px;
}

.task-card-title {
    background-color: rgba(0,0,0,0);
    margin-bottom: 0px;
}

.task-title {
    font-size: x-large;
    background-color: rgba(0,0,0,0);
    display: inline;
}

.task-textbox {
    border-color: rgba(0,0,0,0);
    width: 90%
}

.priority-high {
    background-color: #ff9999;
}

.priority-med {
    background-color: #ffdd99;
}

.priority-low {
    background-color: #99ff99;
}